.table-container {
  margin: 15px;
  margin-top: 40px;
}
.btn-primary {
  position: absolute;
  right: 10px;
  top: 5px;
  margin-right: 10px;
}
.btn-danger {
  margin-left: 10px;
}
.no-data {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: lightblue;
}
